## Concatenating weather data

In [1]:
import sys
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd
from datetime import datetime, date
import time
import matplotlib.pyplot as plt

### 2015 data

In [39]:
df_2005v1 = pd.read_csv('data/weather/weather_2015_v1.csv') 
df_2005v2 = pd.read_csv('data/weather/weather_2015_v2.csv')
df_2005v2_1 = pd.read_csv('data/weather/weather_2015_v2_1.csv')
df_2005v3 = pd.read_csv('data/weather/weather_2015_v3.csv') 

# print (df.shape)
# print (df.isnull().any())
# print (df.isnull().sum())

In [ ]:
df_2006v1 = pd.read_csv('data/weather/weather_2016_v1.csv')
df_2006v1_1 = pd.read_csv('data/weather/weather_2016_v1_1.csv')
df_2006v2 = pd.read_csv('data/weather/weather_2016_v2.csv')
df_2006v2_1 = pd.read_csv('data/weather/weather_2016_v2_1.csv')
df_2006v3 = pd.read_csv('data/weather/weather_2016_v3.csv') 
df_2006v4 = pd.read_csv('data/weather/weather_2016_v4.csv')
df_2006v5 = pd.read_csv('data/weather/weather_2016_v5.csv') 
df_2006v6 = pd.read_csv('data/weather/weather_2016_v6.csv') 
df_2006v7 = pd.read_csv('data/weather/weather_2016_v7.csv') 
df_2006v8 = pd.read_csv('data/weather/weather_2016_v8.csv')

In [42]:
#df_2005v1.tail(1)

,Unnamed: 0,Time,Temperature(F),Dew Point(F),Humidity(%),Wind,Wind Speed(mph),Wind Gust(mph),Pressure(in),Precip.(in),Precip Accum(in),Condition,date
5247,23,7:54 PM,67,61,81,S,7,0,29.9,0.0,0.0,Partly Cloudy,2015-06-30 19:54:00

In [49]:
frames2015 = [df_2005v1, df_2005v2, df_2005v2_1, df_2005v3]
result2015 = pd.concat(frames2015)
result2015 = result2015.drop(columns=["Unnamed: 0"])
# result2015.shape
result2015.to_csv('data/weather/weather_2015_sum.csv')

### 2016 data

In [ ]:
df_2006v1 = pd.read_csv('data/weather/weather_2016_v1.csv')
df_2006v1_1 = pd.read_csv('data/weather/weather_2016_v1_1.csv')
df_2006v2 = pd.read_csv('data/weather/weather_2016_v2.csv')
df_2006v2_1 = pd.read_csv('data/weather/weather_2016_v2_1.csv')
df_2006v3 = pd.read_csv('data/weather/weather_2016_v3.csv') 
df_2006v4 = pd.read_csv('data/weather/weather_2016_v4.csv')
df_2006v5 = pd.read_csv('data/weather/weather_2016_v5.csv') 
df_2006v6 = pd.read_csv('data/weather/weather_2016_v6.csv') 
df_2006v7 = pd.read_csv('data/weather/weather_2016_v7.csv') 
df_2006v8 = pd.read_csv('data/weather/weather_2016_v8.csv')

In [93]:
frames2016 = [df_2006v1, df_2006v1_1, df_2006v2, df_2006v2_1, df_2006v3, df_2006v4, df_2006v5, 
             df_2006v6, df_2006v7, df_2006v8]
result2016 = pd.concat(frames2016)
result2016 = result2016.drop(columns=["Unnamed: 0"])
result2016.to_csv('data/weather/weather_2016_sum.csv')

### 2017 data

In [2]:
df_2007v1 = pd.read_csv('data/weather/weather_2017_v1.csv') 
df_2007v2 = pd.read_csv('data/weather/weather_2017_v2.csv')
df_2007v3 = pd.read_csv('data/weather/weather_2017_v3.csv') 
df_2007v4 = pd.read_csv('data/weather/weather_2017_v4.csv') 
df_2007v5 = pd.read_csv('data/weather/weather_2017_v5.csv')

In [22]:
frames2017 = [df_2007v1, df_2007v2, df_2007v3, df_2007v4, df_2007v5]
result2017 = pd.concat(frames2017)
result2017 = result2017.drop(columns=["Unnamed: 0"])
result2017.to_csv('data/weather/weather_2017_sum.csv')

### 2018 data

In [28]:
df_2008v1 = pd.read_csv('data/weather/weather_2018_v1.csv') 
df_2008v2 = pd.read_csv('data/weather/weather_2018_v2.csv')

In [29]:
frames2018 = [df_2008v1, df_2008v2]
result2018 = pd.concat(frames2018)
result2018 = result2018.drop(columns=["Unnamed: 0"])
result2018.head()
result2018.to_csv('data/weather/weather_2018_sum.csv')

### 2019 data

In [38]:
df_2019v1 = pd.read_csv('data/weather/weather_2019_v1.csv')

### Conctenate all data

In [43]:
df_2015 = pd.read_csv('data/weather/sum/weather_2015_sum.csv') 
df_2016 = pd.read_csv('data/weather/sum/weather_2016_sum.csv') 
df_2017 = pd.read_csv('data/weather/sum/weather_2017_sum.csv') 
df_2018 = pd.read_csv('data/weather/sum/weather_2018_sum.csv') 
df_2019 = pd.read_csv('data/weather/sum/weather_2019_v1.csv')

In [56]:
df_2015.head()

,Unnamed: 0,Time,Temperature(F),Dew Point(F),Humidity(%),Wind,Wind Speed(mph),Wind Gust(mph),Pressure(in),Precip.(in),Precip Accum(in),Condition,date
0,0,8:54 PM,22,6,51,SW,10,0,30.1,0.0,0.0,Partly Cloudy,2015-01-01 20:54:00
1,1,9:54 PM,22,6,51,SW,10,0,30.1,0.0,0.0,Mostly Cloudy,2015-01-01 21:54:00
2,2,10:54 PM,22,6,51,SW,12,0,30.0,0.0,0.0,Mostly Cloudy,2015-01-01 22:54:00
3,3,11:54 PM,24,6,46,WSW,13,0,30.0,0.0,0.0,Mostly Cloudy,2015-01-01 23:54:00
4,4,12:54 AM,22,7,53,SW,15,0,30.0,0.0,0.0,Partly Cloudy,2015-01-01 00:54:00

In [58]:
frames_all = [df_2015, df_2016, df_2017, df_2018, df_2019]

In [59]:
result_all = pd.concat(frames_all)

In [61]:
result_all = result_all.drop(columns=["Unnamed: 0"])

In [64]:
result_all.tail()

,Time,Temperature(F),Dew Point(F),Humidity(%),Wind,Wind Speed(mph),Wind Gust(mph),Pressure(in),Precip.(in),Precip Accum(in),Condition,date
4583,5:26 PM,65,59,81,E,12,0,30.0,0.0,0.0,Cloudy,2019-06-10 17:26:00
4584,5:54 PM,65,59,81,E,10,0,30.0,0.0,0.0,Cloudy,2019-06-10 17:54:00
4585,6:46 PM,63,60,90,ESE,10,0,30.0,0.0,0.0,Light Rain,2019-06-10 18:46:00
4586,6:54 PM,63,60,90,ESE,13,0,30.0,0.0,0.0,Light Rain,2019-06-10 18:54:00
4587,7:54 PM,66,63,90,E,10,0,29.9,0.0,0.0,Light Rain,2019-06-10 19:54:00

In [65]:
result_all.to_csv('data/weather/weather_all.csv')

In [68]:
result_all = result_all.drop(columns=["Time","Wind","Condition"])
result_all["DATE"] = result_all["date"].apply(lambda x: x.split(" ")[0])
result_all = result_all.drop(columns=["date"])

In [79]:
result_all[["Precip.(in)","Precip Accum(in)"]][80:200]

     Precip.(in)  Precip Accum(in)
80           0.1               0.0
81           0.1               0.0
82           0.0               0.0
83           0.1               0.0
84           0.1               0.0
85           0.1               0.0
86           0.0               0.0
87           0.0               0.0
88           0.0               0.0
89           0.0               0.0
90           0.0               0.0
91           0.0               0.0
92           0.0               1.0
93           0.0               0.0
94           0.0               0.0
95           0.0               0.0
96           0.0               0.0
97           0.1               0.0
98           0.0               0.0
99           0.0               0.0
100          0.0               0.0
101          0.0               0.0
102          0.0               0.0
103          0.0               0.0
104          0.0               0.0
105          0.0               0.0
106          0.0               0.0
107          0.0               0.0
108          0.0               0.0
109          0.0               0.0
..           ...               ...
170          0.0               0.0
171          0.0               0.0
172          0.0               0.0
173          0.0               0.0
174          0.0               0.0
175          0.0               0.0
176          0.0               0.0
177          0.0               0.0
178          0.0               0.0
179          0.0               0.0
180          0.0               0.0
181          0.0               0.0
182          0.0               0.0
183          0.0               0.0
184          0.0               0.0
185          0.0               0.0
186          0.0               0.0
187          0.0               0.0
188          0.0               0.0
189          0.0               0.0
190          0.0               0.0
191          0.0               0.0
192          0.0               0.0
193          0.0               0.0
194          0.0               0.0
195          0.0               0.0
196          0.0               0.0
197          0.0               0.0
198          0.0               0.0
199          0.0               0.0

[120 rows x 2 columns]

In [80]:
result_all_by_day = result_all.groupby("DATE").mean()
result_all_by_day = result_all_by_day.reset_index()
result_all_by_day.to_csv('data/weather/weather_all_by_day.csv')

## Example datetime

In [ ]:
# convert str to datetime
x = "2015-01-01 20:54:00"
datetime_object = datetime.strptime(x, '%Y-%m-%d %H:%M:%S')
print (datetime_object)
print (datetime_object.hour)
print (datetime_object.month)
print (datetime_object.day)

# convert datetime to str
timestampStr = datetime_object.strftime("%Y-%m-%d")
print('Current Timestamp : ', timestampStr)

## Process Weather Data

In [ ]:
df_weather_all = pd.read_csv('data/weather/weather_all.csv')
df_weather_all = df_weather_all.drop(columns=["Unnamed: 0"])
df_weather_all["DATE"] = df_weather_all["date"].apply(lambda x: x.split(" ")[0])
df_weather_all["HOUR"] = df_weather_all["date"].apply(lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S').hour)

In [ ]:
def what_hourgroup(hr):
    if hr >= 0 and hr <=7:
        return 1
    if hr >= 8 and hr <=15:
        return 2
    if hr >= 16 and hr <=23:
        return 3
df_weather_all["Hour_Grp"] = df_weather_all["HOUR"].apply(lambda x: what_hourgroup(x))

df_weather_all = df_weather_all.drop(columns=["Time","Wind","Condition","HOUR","date"])
#df_weather_all = df_weather_all.drop(columns=["date"])

df_weather_all=df_weather_all.groupby(["DATE","Hour_Grp"]).mean().reset_index()
df_weather_all.to_csv('data/weather/weather_all_by_day_hourgroup.csv')